<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<title>Mops | Launching Instance - <%= @product.name %></title>
		<meta name="viewport" content="width=device-width">
	</head>
	<body style="min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;text-align: left;line-height: 19px;font-size: 14px;direction: ltr;background: #f6f8f1;width: 100%;">
		<table class="body" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;height: 100%;width: 100%;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;">
			<tr style="padding: 0;vertical-align: top;text-align: left;">
				<td class="center" align="center" valign="top" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
				<!-- BEGIN: Header -->
				<table class="header" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;width: 100%;background: #1f1f1f;">
					<tr style="padding: 0;vertical-align: top;text-align: left;">
						<td class="center" align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: center;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
						<!-- BEGIN: Header Container -->
						<table class="container" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
							<tr style="padding: 0;vertical-align: top;text-align: left;">
								<td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
								<table class="row " style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
									<tr style="padding: 0;vertical-align: top;text-align: left;">
										<td class="wrapper vertical-middle" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: middle;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;padding-top: 0;padding-bottom: 0;position: relative;border-collapse: collapse;">
										<!-- BEGIN: Logo -->
										<table class="six columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 280px;">
											<tr style="padding: 0;vertical-align: top;text-align: left;">
												<td class="vertical-middle" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: middle;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;padding-top: 0;padding-bottom: 0;border-collapse: collapse; min-height: 50px;"><a href="<%=root_url%>" style="color: #2ba6cb;text-decoration: none;">MOPS</a></td>
											</tr>
										</table>
										<!-- END: Logo -->
										</td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						<!-- END: Header Container -->
						</td>
					</tr>
				</table>
				<!-- END: Header-->
				<!-- BEGIN: Content -->
				<table class="container content" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
					<tr style="padding: 0;vertical-align: top;text-align: left;">
						<td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
						<table class="row note" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
							<tr style="padding: 0;vertical-align: top;text-align: left;">
								<td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;padding-right: 0px;border-collapse: collapse;"><h4 style="color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;margin: 5px 0 15px 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 22px;display: block;">Hi<%= " #{@user.first_name}" %>,</h4>
								<p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
									<% if @product.web_name == "AWS" %>
										Your request for launching instance <%= @product.name + ' (' + @product.product_type + ')' %> with AMI (<%= @product.image_id %>) is under process. You will be notified with the details after successful launch of your instance.
									<% elsif @product.web_name == "DigitalOcean" %>
										Your request for launching instance <%= @product.name + ' (' + SizeType.find_by_size_id(@product.size_type).name + ')' %> with Image (<%= @product.image_id %>) is under process. You will be notified with the details after successful launch of your instance.
									<% end %>
								</p>
								<span class="devider" style="border-bottom: 1px solid #eee;margin: 15px -15px;display: block;"></span>
								<p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
									You also can check instance status on website:
								</p><!-- BEGIN: Note Panel -->
								<table class="twelve columns" style="margin-bottom: 10px;border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 580px;">
									<tr style="padding: 0;vertical-align: top;text-align: left;">
										<td class="panel" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px;vertical-align: top;text-align: left;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;background: #ECF8FF;border: 0;border-collapse: collapse;">
											<a href="<%=root_url%>" style="color: #2ba6cb;text-decoration: none;"> 
												http://localhost:3000
											</a>
											<small style="font-size: 10px;"> 
												If clicking the URL does not work, copy and paste the URL into a browser window.
											</small>
										</td>
									</tr>
								</table>
								<p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
									Thanks for joining and have a great day!
								</p>
								<!---END: Note Panel-->
								</td>
							</tr>
						</table></td>
					</tr>
				</table><!-- END: Content --><!-- BEGIN: Footer -->
				<table class="footer" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;width: 100%;background: #2f2f2f;">
					<tr style="padding: 0;vertical-align: top;text-align: left;">
						<td class="center" align="center" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: middle;text-align: center;color: #fff;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
						<table class="container" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto;">
							<tr style="padding: 0;vertical-align: top;text-align: left;">
								<td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0;vertical-align: middle;text-align: left;color: #fff;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;border-collapse: collapse;">
								<!-- BEGIN: Footer Panel -->
								<table class="row" style="border-spacing: 0;border-collapse: collapse;padding: 0px;vertical-align: top;text-align: left;width: 100%;position: relative;display: block;">
									<tr style="padding: 0;vertical-align: top;text-align: left;">
										<td class="wrapper" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 10px 20px 0px 0px;vertical-align: middle;text-align: left;color: #fff;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;position: relative;border-collapse: collapse;">
										<table class="four columns" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;margin: 0 auto;width: 180px;">
											<tr style="padding: 0;vertical-align: top;text-align: left;">
												<td class="vertical-middle" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;padding: 0px 0px 10px;vertical-align: middle;text-align: left;color: #fff;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;"> 
													MOPS 
												</td>
											</tr>
										</table></td>
									</tr>
								</table><!-- END: Footer Panel List --></td>
							</tr>
						</table></td>
					</tr>
				</table><!--- END: Footer ---></td>
			</tr>
		</table>
		<!--p>Hi, <%= @user.first_name %></p>
		<p>
		<% if @product.web_name == "AWS" %>
		Your request for launching instance <%= @product.name + ' (' + @product.product_type + ')' %> with AMI (<%= @product.image_id %>) is under process. You will be notified with the details after successful launch of your instance.
		<% elsif @product.web_name == "DigitalOcean" %>
		Your request for launching instance <%= @product.name + ' (' + SizeType.find_by_size_id(@product.size_type).name + ')' %> with Image (<%= @product.image_id %>) is under process. You will be notified with the details after successful launch of your instance.
		<% end %>
		</p>
		<p>Thanks for joining and have a great day!</p-->
	</body>
</html>